header
{
    border: 1px solid black;
    min-height: 200px;

}

nav
{
    border: 1px solid black;
    min-height: 100px;
    margin-top: 10px;
}

article
{
    border: 1px solid black;
    min-height: 600px;
    margin-top: 10px;
}

footer
{
    border: 1px solid black;
    min-height: 100px;
    margin-top: 10px;
}