@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body
{
    background-color: #FFE8DC;
    font-family: 'Montserrat', sans-serif;
}

header
{
    border: 1px solid black;
    min-height: 200px;
    background-color: #341809;
    color: #FFE8DC;
}

nav
{
    border: 1px solid black;
    min-height: 100px;
    margin: 10px;
}

article
{
    border: 1px solid black;
    min-height: 600px;
    margin-top: 10px;
    color: #341809;
}

footer
{
    border: 1px solid black;
    min-height: 100px;
    margin-top: 10px;
    background-color: #341809;
}

header img
{
    float:right;
    height: 180px;
}

header h1
{
    margin: 50px;
    font-size: 4em;
    font-family: 'Comfortaa', cursive;;
}

